<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Special daily tours at the Grand Prix of Binh Dinh 2024</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2024-03/236-binh_dinh-trungsaoviet85%40gmail.com-con_nguoi_va_bien_ca_0.jpg?itok=1BWDyUA4">
    <h1 class="chu " style="line-height: 1.3">Special daily tours at the Grand Prix of Binh Dinh 2024</h1>

    
    <div class="divmienbac">
        <div class="div5">
            <a href="#"><img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-facebook.jpg" alt=""></a>
            <a href="#"><img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-pinterest.jpg" alt=""></a>
            <a href="#"><img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-twitter.jpg" alt=""></a>
            <a href="#"><img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-email.jpg" alt=""></a>
            <p>The Grand Prix of Binh Dinh 2024, including the UIM-ABP AQUABIKE World Championship from 22nd to 24th March 2024 and UIM F1H2O World Championship from 29th to 31st March 2024 will be accompanied with a series of sideline programmes.</p>
            <p>The supreme racing performances of the Grand Prix of Binh Dinh 2024 International Professional Powerboat Race will get spicier and be memorable for visitors when combined with some unique daily tour programmes designed by travel businesses in Binh Dinh Province.</p>
            <h2 style="color: black;"><b>Explore Binh Dinh on the Binh Dinh heritage journey tour</b></h2>
            <img src="https://vietnam.travel/sites/default/files/inline-images/614-binh_dinh-nkdong2%40gmail.com-tinh_hoa_vo_co_truyen_dan_toc_2-edit.jpg" alt="" class="anhbe">
            <p>Sa Huynh Civilization - one of the three cradles of ancient civilization left a deep footprint in the land of Binh Dinh. The province owns one of the 5 ancient Vietnamese capitals – Hoang De (Emperor) Citadel of the Tay Son Dynasty, Priceless intangible heritage: Binh Dinh martial art; The martial spirit of Binh Dinh people; Bai Choi art singing has been recognized by UNESCO as a representative intangible cultural heritage of humanity, huge treasure trove of tangible heritage with 8 clusters, 14 ancient Cham towers, ancient pagodas, and citadels. Binh Dinh Heritage Journey Tour will take tourists to visit famous destinations such as Duong Long Tower, Do Ban Citadel, Thien Hung Pagoda, Van Son Pottery Village,...</p>
            <h2 style="color: black;"><b>Soak in the unique culture of Champa</b></h2>
            <img src="https://vietnam.travel/sites/default/files/inline-images/176-binh_dinh-minhthophotograph%40gmail-edit.jpg" alt="" class="anhbe">
            <p>During 5 centuries of settlement in this land from the 10th to 15th centuries, the Champa empire left behind a priceless physical heritage. On the journey to explore Binh Dinh, visitors will be taken back in time at Do Ban Citadel/Emperor Citadel - Remains of the ancient citadel for more than a thousand years. The capital of the Cham people in Binh Dinh, Canh Tien Tower - a gift from King Che Man to Princess Huyen Tran, Thap Thap Pagoda - ancient pagoda built from bricks of 10 collapsed towers around Do Ban citadel, Banh It tower - one of the most beautiful Cham tower clusters.</p>
            <h2 style="color: black;"><b>Enjoy the island paradise of Quy Nhon</b></h2>
            <img src="https://vietnam.travel/sites/default/files/inline-images/236-binh_dinh-trungsaoviet85%40gmail-edit.jpg" alt="" class="anhbe">
            <p>Quy Nhon Beach is no longer a strange name to travel lovers in recent times. Nature has bestowed Quy Nhon with a beautiful crescent moon-shaped beach located right in the city centre. Along with a coastline of more than 134 km, many clear white sand beaches such as Mui Vi Rong, De Gi, Vinh Hoi, Ky Co, Hon Kho,... visitors will have for yourself tons of beautiful photos at Heart Bridge, explore natural miniature swimming pools, take photos of exposed rock caves on the beach, watch the Seal circus show, experience the Eo Gio coastal walking path - one of the most beautiful sunrise and sunset places in Vietnam, visit Ngoc Hoa Tinh Xa Main Hall and Two Body Buddha Statue,...</p>
            <h2 style="color: black;"><b>Journey to the root of the script of the National language</b></h2>
            <p>Nuoc Man town relic, the cradle of the Vietnamese script/Vietnamese alphabet - Vietnamese script according to the Latin alphabet. At Nuoc Man relic, visitors will learn the journey of writing formation: From Sino-Vietnamese vocabulary script to modern Vietnamese script. Visitors to Binh Dinh’s Nuoc Man town relic will be taken back in time, back to the bustling trading port of Dang Trong (Cochinchine), where Western missionaries came and preached Christianity, the origin of the formation of the Vietnamese script. Other historical relics of Nuoc Man town include: Lady Nuoc Man Pagoda: Religious building worshipping the Holy Mother Thien Hau, built by the Hoa (Chinese origin) ethnic group in the 17th century, Long Phuoc Pagoda: The pagoda is known as the "First Martial Arts School", Vinh Thanh Church, admire the European Gothic architecture of the Minor Seminary and enjoy the unique traditional martial arts of Binh Dinh.</p>
            <h2 style="color: black;"><b>Pilgrimage to the Martial Land - Learn about Binh Dinh Buddhism</b></h2>
            <p>A spiritual cultural journey in Binh Dinh will help you have a broader view and better understanding of Buddhism. Visit Ohana Village Coastal Zen Hill, Thien Hung Pagoda, Thap Thap Ancient Pagoda - Binh Dinh's oldest pagoda built from bricks of 10 towers poured around Do Ban Citadel, visit Long Khanh Pagoda, visit the Cathedral, …</p>
        </div>
    </div>

    <div class="divmienbac3">
        <p class="title">Read More</p>
        <div class="image-row">
            <div class="div2" style="padding: 10px;">
                <div class="img-container">
                    <a href="">
                        <img class="anh" style="width: 300px;" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2024-03/grand_prix_binh_dinh_2024_0.jpg?itok=X_PWJNLW">
                        <div class="lop">
                            <p><b class="b1">
                                Enjoy the "Fast & Furious" F1H2O World Championship in Binh Dinh
                            </b></p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="div2" style="padding: 10px;">
                <div class="img-container">
                    <a href="">
                        <img class="anh" style="width: 300px;" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2024-03/giai_dua_1_0.jpg?itok=LHLQkjhh">
                        <div class="lop">
                            <p><b class="b1">Binh Dinh - a hot spot for festival goers in 2024
                            </b></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                   <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>

