<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binh Thuan | VietNam Tour</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2022-06/shutterstock_1874591503%20%281%29.jpg?itok=Z4tcNdft">
        <h1 class="chu">Binh Thuan</h1>

        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>

        <div class="desc" id="section1">
            <div class="div5">
                <h2>Binh Thuan has long been something of a best-kept secret for local travelers. But, thanks to its picturesque beauty and diverse topography, more travelers seeking unique experiences in nature are increasingly drawn here. Think gorgeous lakes. Gurgling streams. Dreamy, desert-like spaces. Rocky beaches and windswept seas … Binh Thuan has them all. As it was once part of the Cham principality of Panduranga, Binh Thuan is also archaeologically significant. Want to climb some dunes, learn to surf, go camping or see Cham relics? Give Binh Thuan a go…</h2>
                <hr>
                <h3 class="title"> Top things to do in Binh Thuan</h3>
                <p><strong>Admire spiritual architecture</strong></p>
                <p>Make a mini-pilgrimage to spiritual sites from the past and present. Northeast of Phan Thiet city, you’ll find the 1200-year-old Poshanu Cham Tower temples. Built in the Hoa Lai architectural style during the reign of the Champa Kingdom, these mysterious towers are national monuments. Two Buddhist temples atop Ta Cu Mountain are south of the city: Linh Son Truong Tho and Long Doan pagoda. There you’ll find the biggest reclining Buddha statue in Vietnam. </p>
                <p><strong>Surf sand dunes</strong></p>
                <p>There are many stretching dunes, sand, and beaches which attract tourists to come, play and snap away. Apart from the stunning photo ops, thrill-seekers can try 4x4 dune bashing, sandboarding, or sand sliding. Head to Bau Trang or Mui Ne to get in on the action. </p>
                <p><strong>Catch a wave</strong></p>
                <p>Wanting to surf some swells? Mui Ne is Vietnam’s surfing hotspot. Thanks to its fairly consistent waves and lashings of wind, it’s also the best place to learn how to kite-surf. </p>
                <p><strong>Head to the hills</strong></p>
                <p>Binh Thuan has some hilly and mountainous terrain for adventure-seekers or those wanting cooler, forest-like spaces. Mountain climbers, bikers, or hikers can head to Ta Cu Mountain. Or pack a picnic and rest beside Suoi Hong, the sparkling ‘fairy stream’ that runs between white stalactite hills. </p>
                <p><strong> Explore the islands</strong></p>
                <p>Go island-hopping to explore some of the province’s most pristine beaches and wild, deserted coastal landscapes. Check out Cu Lao Cau or Phu Quy island, among others.</p>
                <hr>
                <h3 class="title">Binh Thuan Weather</h3>
                <p>While Binh Thuan has a tropical monsoon climate, it’s considerably arider than the rest of the country. During the rainy season (from May to October), it doesn’t receive as much rainfall as other parts of Vietnam. The weather is generally sunny and windy – so many wind-energy projects have been implemented here. The best time to plan your trip is from November to April.</p>
                <h3 class="title">Binh Thuan Transport</h3>
                <p>There’s no airport in the province as yet. So it’s best to fly to either Ho Chi Minh City or Nha Trang, from there, get a bus or train to Phan Thiet. The main North-South Railway runs through Muong Man Railway Station, just outside Phan Thiet. Use Grab or a taxi to go to the city. For sightseeing, take a motorbike, taxi or bus.
                    </p>
                <hr>
            </div>
        </div>

        <!-- GALLERY -->
        <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Mui%20Ne%20Fishing%20Boats%20Vietnam%20Tourism.jpg?itok=7Y1G0cRk" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Mui%20Ne%20Best%20Beaches%20Vietnam%20Tourism.jpg?itok=w_rx-tyg" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Mui%20Ne%20Water%20Sports%20Vietnam%20Tourism.jpg?itok=CrsULJoG" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Red%20Sand%20Dunes%20Mui%20Ne%20Vietnam.jpg?itok=pkbEB3ek" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Beach%20Clubs%20Mui%20Ne%20Vietnam.jpg?itok=eCLysc6l" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Mui%20Ne%20Fishing%20Villages%20Vietnam%20Tourism.jpg?itok=6O8n6S_8" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >

                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Seafood%20in%20Mui%20Ne%20Vietnam%20Tourism.jpg?itok=Jv7c-9dl" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>

         <!-- YOU MAY ALSO LIKE -->
     <div>
        <div class="divmienbac2" id="section3">
            <p class="title">YOU MAY ALSO LIKE</p>
            <div class="image-row" style="margin-bottom: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Mui%20Ne%20must-do%20activities_1.jpg?itok=mqTJDkO7">
                            <div class="lop">
                                <p><b class="b1">Wind, sand and sea: Mui Ne's must-do list</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-04/outdoor%20activities%20vietnam%20tourism-9.jpg?itok=aIrD07cl">
                            <div class="lop">
                                <p><b class="b1">Vietnam's best outdoor activities</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2020-09/vietnam%20travel%20for%20families.jpg?itok=RWg3mcRQ">
                            <div class="lop">
                                <p><b class="b1">7 places in Vietnam for families 
                                </b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divmienbac3" id="section4">
        <p class="title">NEARBY PLACES</p>
        <div class="image-row" style="gap: 20px;">
            <div class="div2">
                <div class="img-container">
                    <a href="phuquoc.html">
                        <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Phu%20Quoc%20Travel%20Guide%20Vietnam%20Tourism_0.jpg?itok=DcsIMf-7">
                        <div class="lop">
                            <p><b class="b1">PHU QUOC</b></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="div2">
                <div class="img-container">
                    <a href="hcm.html">
                        <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-07/vietnam-tourism-4.jpg?itok=2q2uF_ME">
                        <div class="lop">
                            <p><b class="b1">HO CHI MINH CITY</b></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="div2">
                <div class="img-container">
                    <a href="chaudoc.html">
                        <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/chau%20doc%20travel%20guide_0.jpg?itok=vZ3nqM7k">
                        <div class="lop">
                            <p><b class="b1">CHAU DOC</b></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                   <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>