<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can Tho | VietNam Tourism</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        <img src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2021-05/Can%20Tho%20Travel%20Guide%20Vietnam%20Tourism_2.jpg?itok=STNylVuK" alt="" class="anhnen1">
        <h1 class="chu">Can Tho</h1>
        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="desc" id="section1">
            <div class="div5">
              <h2>At first glance, Can Tho seems to be a bustling city, with a stream of commerce flowing continuously down the Hau River. But treat yourself to a room on its leafy banks, dine on its sun-ripened fruits and fresh river fish, glide on sampans through its sultry canals, and you’ll soon realise Can Tho’s big city facade is just half the story. The other half? Misty sunrises over the water, lazy afternoons swaying in a hammock, and balmy evenings announced by a chorus of insects. Under the Mekong Delta’s blazing blue skies, Can Tho leaves a vivid impression.</h2>
              <hr>
              <h3 class="title">Top things to do in Can Tho</h3>
              <p><strong>Tour the islets</strong></p>
              <p>Whether you go by bicycle or sampan, the islets of Can Tho are where you feel the real pulse of local life. Book a community-based tour to lunch with a local family, explore rice paper villages and fruit orchards, and enjoy a taste of pure Mekong Delta charm.</p>
              <p><strong>Wake up for the floating markets</strong></p>
              <p>It’s worth the early morning start to see Can Tho’s morning markets heaving with colourful boats and exotic produce. Cai Rang is the most famous in the area, but ask your local host about smaller floating markets where you can engage with the vendors.</p>
              <p><strong>Taste Hu Tieu on a boat </strong></p>
              <p>There’s nothing like a breakfast of steaming Hu Tieu noodles served on the water in the early morning. Sticky tapioca noodles, crunchy bean sprouts, and thinly sliced pork blend together in a tasty savoury broth. Slurp it up surrounded by the sounds of the market.</p>
              <p><strong>Binh Thuy ancestral house</strong></p>
              <p>Take a step back in time to see how Can Tho's wealthy merchant families lived. Built in 1870, this brightly painted house has housed several generations of the Duong family, and is a fascinating blend of French and Asian architecture.</p>
              <p><strong>Relax by the riverside</strong></p>
              <p>Can Tho offers several enticing places to stay, where discerning travellers can enjoy a tropical escape by the water’s edge. Spoil yourself at the Azerai Can Tho, relax with heartfelt hospitality at Victoria Can Tho, or try a sustainable homestay experience at Mekong Rustic.</p>
              <hr>
              <h3 class="title">Can Tho Weather</h3>
              <p>Can Tho has a tropical climate. Summers come with heavy rainfall, and most of the rest of the year is hot and dry. December and January are the coolest months. Rains fall regularly from July to November, and the heat is on from March to June.</p>
              <h3 class="title">Can Tho Transport </h3>
              <p>The international airport in Can Tho is just 20 minutes outside of the city, with flights arriving from major hubs in Vietnam. Taking passengers on the four-hour journey from Ho Chi Minh City stop at the bus terminal four kilometres outside the town. It’s also possible to reach Can Tho via the Hau River, on a cruise from Ho Chi Minh City or Cambodia. Once in town, local taxis are readily available. Cycling is also an option on the islets and roads leading away from the city. Local ferries run regularly between the mainland and islets.</p>
              <hr>
            </div>
        </div>
           <!-- GALLERY -->
           <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Can%20Tho%20Floating%20Markets%20Vietnam%20Tourism.jpg?itok=jUzAHw_w" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Binh%20Thuy%20Ancestral%20House%20Can%20Tho%20Vietnam.jpg?itok=rdrk_zwv" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Ferries%20Can%20Tho%20Vietnam%20Tourism.jpg?itok=W9Go6Bid" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Hu%20Tieu%20Can%20Tho%20Vietnam%20Tourism.jpg?itok=RFOeGxQ9" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Sampans%20Can%20Tho%20Vietnam%20Tourism.jpg?itok=iIWi8z0S" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Making%20Rice%20Papers%20Can%20Tho%20Vietnam%20Tourism.jpg?itok=fM_6i2Tn" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Making%20Rice%20Papers%20Can%20Tho%20Vietnam%20Tourism.jpg?itok=fM_6i2Tn" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>

         <!-- YOU MAY ALSO LIKE -->
     <div>
        <div class="divmienbac2" id="section3">
            <p class="title">YOU MAY ALSO LIKE</p>
            <div class="image-row" style="margin-bottom: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2020-07/towns%20of%20Mekong%20Delta-2.jpg?itok=zzLPD5Gt">
                            <div class="lop">
                                <p><b class="b1">
                                    5 unique towns in the Mekong Delta 
                                    </b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-12/ben%20tre%20tour.jpg?itok=x8cyw704">
                            <div class="lop">
                                <p><b class="b1">
                                    Day-tripping in the Mekong Delta
                                    </b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2020-02/Things%20to%20do%20in%20Cai%20Be%20in%20the%20Mekong%20Delta-9_1.jpg?itok=U7YOnEG8">
                            <div class="lop">
                                <p><b class="b1"> 5 reasons you'll love Cai Be
                                </b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
     <!-- NEARBY PLACES -->

     <div class="divmienbac3" id="section4">
        <p class="title">NEARBY PLACES</p>
        <div class="image-row" style="gap: 20px;">
            <div class="div2">
                <div class="img-container">
                    <a href="chaudoc.html">
                        <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/chau%20doc%20travel%20guide_0.jpg?itok=vZ3nqM7k">
                        <div class="lop">
                            <p><b class="b1">CHAU DOC</b></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="div2">
                <div class="img-container">
                    <a href="hcm.html">
                        <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-07/vietnam-tourism-4.jpg?itok=2q2uF_ME">
                        <div class="lop">
                            <p><b class="b1">HO CHI MINH CITY</b></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="div2">
                <div class="img-container">
                    <a href="phuquoc.html">
                        <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Phu%20Quoc%20Travel%20Guide%20Vietnam%20Tourism_0.jpg?itok=DcsIMf-7">
                        <div class="lop">
                            <p><b class="b1"> PHU QUOC
                            </b></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="    Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>



