<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/trangchu.css">
</head>
<body>
    <nav>
        <div style="display: flex;">
            <div class="nav-logo" style="padding: -30px;">
                <a href="trangchu.html">
                    <img class="logo" src="../img/logo.jpg">
                </a>
            </div>

            <div style="padding: 30px;">
                <ul class="nav-link">
                    <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                    <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                    <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                    <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                    <li class="link"><a href="#"><b>Highlights</b></a></li>
                    <li class="link"><a href="#"><b>Holiday</b></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2024-04/391-C%E1%BA%A7n%20Th%C6%A1-antranphoto.vn%40gmail.com-cho%20noi%20vao%20xuan_4.jpg?itok=vgQeMbAw" alt="cantho">
    <h1 class="chu " style="line-height: 1.5">Can Tho: A glimpse of river and garden</h1>
   
    <div class="divmienbac">
        <div class="div5">
            <img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-facebook.jpg" alt="">
            <img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-pinterest.jpg" alt="">
            <img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-twitter.jpg" alt="">
            <img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-email.jpg" alt="">
           <p>
            Famous as “a river delta city”, visitors coming to Can Tho will be in awe since the river is everywhere. Its poetic beauty of the waterways, its culture of great value and the unique local cuisine. Can Tho beckons travellers with a symphony of sights, sounds, and flavours that epitomise the essence of Vietnam. From the famous floating markets, ancient houses, boat trips, orchards and temples, this enchanting city is an open door to the region of cultural heritage and timeless traditions
           </p>
           <h2><b style="color: black;">Best time to visit Can Tho</b></h2>
           <p>Tho is a city of tropical climate with 2 seasons: dry and wet, and they are all the best time to visit the city of west Vietnam. The dry season from December to April and the wet season from May to November. With an average temperature of 28°C, the weather is warm and humid during the year. You can choose to visit Can Tho during the fruit ripening season from June to August to enjoy many kinds of fruits at the garden. From September to November is the flooding season. Visitors can take a boat tour to the Cai Rang Floating Market and experience the locals doing businesses on the boats - a typical scenery of Can Tho. For flower lovers, travelling during the period from December to January, also the time marking of Vietnames Lunar New Year, to be overwhelmed with many brilliant colours of flowers.</p>
           <h2><b style="color: black;">How to get to Can Tho?</b></h2>
           <p>Travelling by aeroplane is the best way to save time. Major airlines of Vietnam are providing direct flights from Ha Noi to Can Tho. Alternatively, visitors can travel by train for 30 hours from Ha Noi to Ho Chi Minh City, then catch a bus to Can Tho. There is also an express bus from Ha Noi to Can Tho.</p>
           <p>
            Can Tho is about 165 kilometres away from Ho Chi Minh City, thus tourists can choose to travel by motorbike or private car via My Thuan - Can Tho Expressway. Visitors can also buy a ticket at Mien Dong Bus Station and travel by express bus from Ho Chi Minh City to Can Tho.
           </p>
           <h2><b style="color: black;">Where to stay in Can Tho?</b></h2>
           <p>This matter of fact is dependent on preferences and budgets. Can Tho provides quite a wide range of accommodation from hotels, homestays to resorts. The suggestion here is to choose an accommodation in the centre with a favourable geographical position, making it convenient for you to get to many famous destinations such as Ninh Kieu Wharf, Ong Pagoda, Binh Thuy Ancient House, Cai Rang Floating Market, etc.</p>
           <h2><b style="color: black;">Must-visit tourist attractions in Can Tho</b></h2>
           <h2><b style="color: black;">Cai Rang Floating Market</b></h2>
           <img  class="anhbe" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2024-04/391-C%E1%BA%A7n%20Th%C6%A1-antranphoto.vn%40gmail.com-cho%20noi%20vao%20xuan_4.jpg?itok=vgQeMbAw" alt="">
        </div>
        
    </div>
    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <p><input type="email" placeholder="Your email"></p>
                    </div>
                    <div class="div3">
                        <p><button class="sign-up-btn">Sign Up</button></p>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2><h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2></h2>
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg">
                    <dd>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</dd>
                </div>
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
</body>
</html>