<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chau Doc | VietNam Tourism</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2021-05/chau%20doc%20travel%20guide_0.jpg?itok=cYmp1bt_">
        <h1 class="chu">Chau Doc</h1>

        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>

        <div class="desc" id="section1">
            <div class="div5">
                <h2>Brimming with lush forests, bustling riverbanks, and brilliant temples, the border town of Chau Doc is a compelling spot to experience the fusion of cultures and colours that make up Vietnam’s Mekong Delta. Chau Doc may surprise you with its hidden treasures: mysterious wetlands, ethnic Cham villages, and atmospheric temples. This small town has fascinating stories to tell: you might need to stay a while to hear them all.</h2>
                <hr>
                <h3 class="title">Top things to do in Chau Doc</h3>
                <p><strong>Go on a temple-hopping tour</strong></p>
                <p>Around 200 large and small religious sites are sprinkled on the slopes of Sam Mountain. Witness local offerings at Mieu Ba Chua Xu, climb through the warrens at Chua Hang (Cave Pagoda), or admire the architecture of Tay An Pagoda.</p>
                <p><strong>Try local dishes</strong></p>
                <p>Chau Doc’s food scene stars the best of the land and water. The iconic Bun Ca Bong Dien Dien is always a crowd-pleaser. Snack on Banh Bo Thot Not to satisfy your sweet tooth, and don’t leave without trying a Lau Mam dinner.</p>
                <p><strong>Cruise Tra Su Forest</strong></p>
                <p>More than 70 types of birds make their home in the Tra Su Cajuput Forest. This is the perfect place to immerse yourself in nature, cruise the flooded forest on a Tac Rang (motorised sampan) and learn about the biodiversity of the region. </p>
                <p><strong>Visit the floating village</strong></p>
                <p>Take a closer look at local culture with a tour of Chau Doc’s floating village, a 50-year-old fishing community on the Hau River. Houses here are built on rafts and double as fish farms, where catfish and snapper are grown for sale. </p>
                <p><strong>Learn about Cham culture</strong></p>
                <p>Chau Doc is home to some of Vietnam’s largest Cham communities. Chau Giang and Chau Phong are nested on two islets across the Hau River. Stop by the spectacular Mubarak Mosque, tour ancient stilt houses and sample Cham dishes.</p>
                <h3 class="title">Chau Doc Weather</h3>
                <p>Chau Doc has two seasons: rainy and dry. The rainy season begins in May and lasts until October, with August to November being the high water season, perfect for visiting the Tra Su forest and floating villages. From November to April, it’s sunny and dry in Chau Doc with blue skies and pleasant breezes.</p>
                <h3 class="title">Chau Doc Transport </h3>
                <p>To get to Chau Doc, travellers from major cities in Vietnam can fly to Can Tho Airport. From there it’s a three-hour drive to the town of Chau Doc. Those coming from Ho Chi Minh City can also take a direct bus or car for six hours. Luxury cruises run between Can Tho and Chau Doc, and also from Cambodia into Vietnam - ideal for travellers who want a slower approach.</p>
            </div>
        </div>
         <!-- GALLERY -->
         <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Victoria%20Chau%20Doc%20Vietnam%20Tourism.jpg?itok=qW74ri7l" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Chau%20Doc%20Market%20Vietnam%20Tourism.jpg?itok=bwKbFYlD" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Tra%20Su%20Forest%20Vietnam.Travel.jpg?itok=iLHKJYsr" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Chau%20Doc%20Market%20Vietnam.Travel.jpg?itok=Gn_Z0E_A" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Chua%20Hang%20Chau%20Doc%20Vietnam%20Tourism.jpg?itok=-s4O3FNQ" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Cham%20Women%20Vietnam%20Tourism.jpg?itok=DKX6UoAf" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Masjid%20Nia%E2%80%99mah%20Vietnam%20Tourism.jpg?itok=STRRZDrp" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
          <!-- YOU MAY ALSO LIKE -->
     <div>
        <div class="divmienbac2" id="section3">
            <p class="title">YOU MAY ALSO LIKE</p>
            <div class="image-row" style="margin-bottom: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-03/chau%20doc%20traveller%20guide-2.jpg?itok=imA3VauG">
                            <div class="lop">
                                <p><b class="b1">
                                    The colourful charms of Chau Doc
                                    </b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-10/Banner%20mekong%20guide-7.JPG?itok=amcrX6TR">
                            <div class="lop">
                                <p><b class="b1">
                                    4 memorable days in the Mekong Delta
                                    </b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2020-07/towns%20of%20Mekong%20Delta-2.jpg?itok=zzLPD5Gt">
                            <div class="lop">
                                <p><b class="b1">5 unique towns in the Mekong Delta 
                                </b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- NEARBY PLACES -->

        <div class="divmienbac3" id="section4">
            <p class="title">NEARBY PLACES</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="cantho.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Can%20Tho%20Travel%20Guide%20Vietnam%20Tourism_2.jpg?itok=DXkSccq1">
                            <div class="lop">
                                <p><b class="b1">CAN THO</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="hcm.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-07/vietnam-tourism-4.jpg?itok=2q2uF_ME">
                            <div class="lop">
                                <p><b class="b1">HO CHI MINH CITY</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="binhthuan.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2022-06/shutterstock_1874591503%20%281%29.jpg?itok=FKHdAOuK">
                            <div class="lop">
                                <p><b class="b1">BINH THUAN</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="    Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>



