<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ha Long | Northern VietNam</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2017-06/visitvietnam-3.jpg?itok=Fd6YvSmN">
        <h1 class="chu">Ha Long</h1>


        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>

        <!-- OVERVIEW -->
        <div class="desc" id="section1">
            <div class="div5">
                <h2>For many, the seascape of Ha Long Bay is synonymous with Vietnam. Cruises sail emerald green waters among thousands of rugged islands and islets, stopping at spectacular caves through which visitors can wander, viewing impressive, centuries-old formations. Ha Long Bay's mystical beauty has made it a bucket list attraction within the country, but it's still possible to find secluded corners to call your own. </h2>
                <h4>Click the image below for a 360-degree tour</h4>
                <div class="div2">
                    <div class="img-container">
                        <a href="https://vietnam.travel/sites/default/files/360Tour/HaLong/index.htm">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/360Tour/HaLong/socialThumbnail2.jpg">
                        </a>
                    </div>
                </div>
               
                <h3><strong>TOP THINGS TO DO IN HA LONG BAY</strong></h3>
                <p><strong>Cruise the bay</strong></p>
                <p>Nothing beats spending watching the sun set over the calm waters of Ha Long Bay, and waking up to a serene morning surrounded by karsts. Relaxing on a sun deck surrounded by magnificent panoramas is the highlight of many a trip.</p>
                <p><strong>Explore a floating village</strong></p>
                <p>Ha Long Bay is not just a UNESCO-listed site, it’s also home to a number of fishing communities who have lived on the water for centuries. Take a boat tour around a floating village for a glimpse of this rare and beautiful way of life.</p>
                <p><strong>Paddle out in a kayak</strong></p>
                <p>Even if you’re not an experienced kayaker, you can’t miss the chance to navigate your way around Ha Long’s gorgeous seascape. Just before sunset is an ideal time to kayak to see quiet lagoons and fishing boats up close.</p>
                <p><b>Clamber into a cave</b></p>
                <p>Beneath their rocks and jungled exteriors, many of Ha Long’s ancient karsts have been carved out by rain and water currents. Take a look inside these geological wonders on foot — some are a squeeze while others are enormous.</p>
                <p><strong>Try your hand at rock climbing</strong></p>
                <p>There are countless routes in the bay to keep climbing junkies entertained. Deep water soloing is becoming increasingly popular in beautiful Ha Long Bay and Lan Ha Bay, especially on Butterfly Island.</p>
                <h3 class="title">Ha Long Weather</h3>
                <p>Ha Long Bay’s climate can be cool with clear skies from September to November. Mist drifts in from December to March making the bay look all the more mysterious. April and May offer sunshine and a refreshing breeze, while the monsoon season can make visits unpredictable from June to August.</p>
                <h3 class="title">Ha Long Transport</h3>
                <p>Most visitors to Ha Long Bay opt for a packaged cruise, including transport to and from Hanoi. Independent travellers can take a bus to Ha Long City or Hai Phong and a taxi to the port. It’s also possible to charter a seaplane for a 45-minute ride direct from Noi Bai International Airport. Travelling Ha Long Bay is best by boat. Those looking for a bird's-eye view can book a 15-minute seaplane ride over the bay. In Ha Long City you can hire a taxi to get around town.</p>

            </div>
        </div>
        <!-- GALLERY -->
        <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    
                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Ha%20Long%20Islets.jpg?itok=ea5--n01" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Ha%20Long%20Fishing%20Villages.jpg?itok=o84KMfNr" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Ha%20Long%20Cruises.jpg?itok=RgHDYSJZ" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Ha%20Long%20Boats.jpg?itok=FZPQLh25" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Kayaking%20in%20Ha%20Long%20Bay%20Vietnam.jpg?itok=eS7JCMYJ" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Ha%20Long%20Boats%20Vietnam%20Tourism.jpg?itok=fLj8UYLC" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Ha%20Long%20Beaches%20Vietnam%20Tourism.jpg?itok=HhtjP6Pc" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- YOU MAY ALSO LIKE -->
        <div>
            <div class="divmienbac2" id="section3">
                <p class="title">YOU MAY ALSO LIKE</p>
                <div class="image-row" style="margin-bottom: 20px;">
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Ways%20to%20explore%20Gulf%20of%20Tonkin.jpg?itok=_lq6ymAV">
                                <div class="lop">
                                    <p><b class="b1">Great ways to see the Gulf of Tonkin</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-07/emeraude%20cruise%20halong%20bay.jpg?itok=oICMuAQi">
                                <div class="lop">
                                    <p><b class="b1">Sea and sky: Ha Long aboard the Emeraude </b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2024-02/File1%20au.jpg?itok=Bgrk5bXy">
                                <div class="lop">
                                    <p><b class="b1">3 Reasons a Cruise in Lan Ha Bay Should Be on Your Bucket List</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- NEARBY PLACES -->

        <div class="divmienbac3" id="section4">
            <p class="title">NEARBY PLACES</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="hanoi.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/vietnam-travel-5.jpg?itok=4rYyvJYj">
                            <div class="lop">
                                <p><b class="b1">HA NOI</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="sapa.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Sapa%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=WsOSd6DW">
                            <div class="lop">
                                <p><b class="b1">SAPA</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="maichau.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-01/Vietnam%20Tourism%20Mai%20Chau.jpg?itok=y-Q_F2Zp">
                            <div class="lop">
                                <p><b class="b1">MAI CHAU</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media">
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>