<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ho Chi Minh City | VietNam Tour</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2017-07/vietnam-tourism-4.jpg?itok=pn9rKMK7">
        <h1 class="chu">Ho Chi Minh City</h1>

        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>

        <div class="desc" id="section1">
            <div class="div5">
                <h2>Vibrating with energy, innovation and traffic – lots of traffic – Ho Chi Minh City, formerly known as Saigon, is the economic heart of Vietnam and the main hub of the southern region. A freewheeling, cosmopolitan metropolis, HCMC's dynamic cityscape draws together old and new Vietnam in the most compact of spaces, representing the city’s past as well as its future. This city has many well-known attractions, including the War Museum, Notre Dame Cathedral Basilica, and Ben Thanh Market.</h2>
                <h2>Let's dive into this guide and discover what to explore in this city to make your Ho Chi Minh City tour the most valuable!</h2>
                <h4>Click the image below for a 360-degree tour of HCMC</h4>
                <div class="div2">
                    <div class="img-container">
                        <a href="https://vietnam.travel/sites/default/files/360Tour/HoChiMinhCity/index.htm">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/360Tour/HoChiMinhCity/socialThumbnail2.jpg">
                        </a>
                    </div>
                </div>
                <h3><strong>TOP THINGS TO DO IN HA LONG BAY</strong></h3>
                <p><strong>See the top landmarks</strong></p>
                <p>Walk down Đồng Khởi street to acquaint yourself with the Notre Dame Cathedral, the city's Central Post Office, and the Saigon Opera House. On a more local level, Bến Thành Market and the Jade Emperor Pagoda are worth a visit.</p>
                <p><strong>Shop small boutiques</strong></p>
                <p>Around District 1, a host of old apartments and former office buildings have been repurposed as shopping centres. Decades-old buildings such as 22 Lý Tự Trọng and 42 Nguyễn Huệ are brimming with all kinds of fascinating stores.</p>
                <p><strong>Explore the Chinese Quarter</strong></p>
                <p>The Chinese neighbourhood known as Chợ Lớn is great for exploring on foot. Head for Bình Tây Market, a colossal wholesale trading centre, and Thiên Hậu Pagoda, an atmospheric temple that pays homage to the goddess of the sea. </p>
                <p><strong>Hop on a motorcycle</strong></p>
                <p>Do as the locals do and hop on the back of a motorbike to see the city on street level and feel its energetic pulse. Motorbike tours set off in the evening, when the city is at its most romantic and the sidewalk vendors are out in force.</p>
                <p><strong>Eat street food</strong></p>
                <p>Ho Chi Minh City locals love to gather around dented metal tables across the city for incredible roadside feasts. Don't miss highlights such as bánh mì, southern-style savoury pancakes <i>(bánh xèo)</i> and broken rice <i>(cơm tấm)</i>.
                </p>
                <h3 class="title">Ho Chi Minh City Weather</h3>
                <p>Ho Chi Minh City has consistent temperatures year-round, and the weather is generally warm. Heatwaves hit the city from April to May, welcoming the rainy season from May to November. Slightly cooler temperatures emerge in December and January.</p>
                <h3 class="title">Ho Chi Minh City Transport </h3>
                <p>Travellers can arrive in Ho Chi Minh City by bus, train or plane. Tan Son Nhat international airport welcomes foreign and domestic arrivals daily, while various bus companies operate shuttles from Phnom Penh and destinations across Vietnam. Ho Chi Minh City also sees a steady stream of train travellers. Taxis are everywhere, but those with a Vietnamese SIM card can use ride-hailing apps like Grab. Local buses cover a good portion of the city. Travellers can also take a boat along the river, for a day trip to Củ Chi Tunnels or the Mekong Delta.</p>
            </div>
        </div>

         <!-- GALLERY -->
         <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2017-11/things%20to%20do%20in%20hcmc-3.jpg?itok=7TX7muVt" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2017-11/things%20to%20do%20in%20hcmc-10.jpg?itok=xC-3aqm6" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2017-11/things%20to%20do%20in%20hcmc-4.jpg?itok=sypFZuFp" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2017-11/things%20to%20do%20in%20hcmc-8.jpg?itok=zuHQyxIl" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2017-11/things%20to%20do%20in%20hcmc-7.jpg?itok=fJTYP7yI" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2017-11/things%20to%20do%20in%20hcmc-6.jpg?itok=EGfu7Ycg" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2017-11/things%20to%20do%20in%20hcmc.jpg?itok=oa6PDeok" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>

     <!-- YOU MAY ALSO LIKE -->
     <div>
        <div class="divmienbac2" id="section3">
            <p class="title">YOU MAY ALSO LIKE</p>
            <div class="image-row" style="margin-bottom: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-04/top%20attractions%20in%20ho%20chi%20minh%20city.jpg?itok=Es_Kjgnn">
                            <div class="lop">
                                <p><b class="b1">
                                    7 must-see attractions in HCMC
                                    </b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-12/saigon%20itinerary%20vietnam%20travel.jpg?itok=-TdT8ayg">
                            <div class="lop">
                                <p><b class="b1">
                                    The perfect weekend in HCMC
                                    </b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2020-01/best%20dishes%20HCMC.jpg?itok=w7pTLc8h">
                            <div class="lop">
                                <p><b class="b1">    Eating like a local in Ho Chi Minh City
                                </b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <!-- NEARBY PLACES -->

      <div class="divmienbac3" id="section4">
        <p class="title">NEARBY PLACES</p>
        <div class="image-row" style="gap: 20px;">
            <div class="div2">
                <div class="img-container">
                    <a href="hanoi.html">
                        <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Can%20Tho%20Travel%20Guide%20Vietnam%20Tourism_2.jpg?itok=DXkSccq1">
                        <div class="lop">
                            <p><b class="b1">CAN THO</b></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="div2">
                <div class="img-container">
                    <a href="sapa.html">
                        <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Phu%20Quoc%20Travel%20Guide%20Vietnam%20Tourism_0.jpg?itok=DcsIMf-7">
                        <div class="lop">
                            <p><b class="b1">PHU QUOC</b></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="div2">
                <div class="img-container">
                    <a href="maichau.html">
                        <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Con%20Dao%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=2nbqoj3i">
                        <div class="lop">
                            <p><b class="b1">CON DAO</b></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media">
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>