<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mai Chau | Northern VietNam</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2019-01/Vietnam%20Tourism%20Mai%20Chau.jpg?itok=lXvbzY_O">
        <h1 class="chu">Mai Chau</h1>


        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>

        <!-- OVERVIEW -->
        <div class="desc" id="section1">
            <div class="div5">
                <h2>The Mai Chau’s proximity to the capital makes it an ideal escape for nature lovers. Here, small ethnic minority villages sit among a patchwork of paddy fields surrounded by green mountains. Spend a night or two immersed in Vietnam’s rural culture, dining on delicious home-cooked cuisine, and learning about the traditions of the ethnic groups.</h2>
                
               
                <hr>
                <h3><strong>Top things to do in Mai Chau</strong></h3>
                <p><strong>Sleep in a homestay </strong></p>
                <p>The Mai Chau Valley is home to two excellent homestay tourism villages: Lac and Pom Coong. In both villages, White Thai families offer simple accommodation in stilt houses in an idyllic setting of verdant jungle, limestone outcrops, and mountain tops.</p>
                <p><strong>Cycle around the valley</strong></p>
                <p>Exploring the many quiet ribbons of paths that connect clusters of stilt houses might be the greatest pleasure you'll have in Mai Chau. It doesn’t take long to feel like you’ve found your own quiet corner, riding past humble villages and rice paddies.</p>
                <p><strong>Shop for local crafts</strong></p>
                <p>Mai Chau has no shortage of intricate fabrics woven by skilled weavers on ancient looms. A little gentle bargaining is expected and even welcomed. On Sunday, the morning market attracts ethnic minorities dressed in their finest traditional clothing.</p>
                <p><strong>Eat with the locals</strong></p>
                <p>Known for their warm hospitality, the White Thai are also fantastic cooks and serve up excellent home-cooked feasts for dinner. The meals you're served at the homestays in Mai Chau might be some of the best on your Vietnam trip.</p>
                <p><strong>Plan a day trek</strong></p>
                <p>For a full day trip, spring for a kayaking excursion on Hoa Binh Lake, a beautiful body of water surrounded by jungled hills. Or venture further to Pu Luong Nature Reserve where cool, fresh streams run among the trees, feeding waterfalls and aquamarine pools.</p>
                <hr>
                <h3 class="title">Mai Chau Weather</h3>
                <p>Mai Chau Valley is at its best from March to May and September to November. October is perhaps the most ideal month because harvest takes place and the rice takes on a glorious golden hue. Be careful if visiting from June to August, as monsoons can flood local roads.</p>
                <h3 class="title">Mai Chau Transport</h3>
                <p>Mai Chau is approximately 140km from Hanoi. Local buses from the capital run directly to Mai Chau town just a short walk from Lac and Pom Coong villages. If coming from Son La or Dien Bien Province, ask the driver to stop at the Mai Chau turn off. In Hanoi, it is possible to hire a motorbike or a private car for the journey. Bicycles are the best option for getting around the valley floor, as small paths criss-cross villages and farms. Electric carts are available for hire to take you from one village to another.</p>
                <hr>
            </div>
        </div>
        <!-- GALLERY -->
        <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Mai%20Chau%20Vietnam%20Travel.jpg?itok=0-9c21Up" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Mai%20Chau%20Vietnam%20Travel-9.jpg?itok=KJ8Ei0FI" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Mai%20Chau%20Vietnam%20Travel-7.jpg?itok=c8dOJJbG" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Mai%20Chau%20Vietnam%20Travel-8.jpg?itok=id4uluE6" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Mai%20Chau%20Vietnam%20Travel-5.jpg?itok=EtQNLcDq" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Mai%20Chau%20Vietnam%20Travel-4.jpg?itok=KYRk8Iug" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Mai%20Chau%20Vietnam%20Travel-2.jpg?itok=l52Et1xd" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- YOU MAY ALSO LIKE -->
        <div>
            <div class="divmienbac2" id="section3">
                <p class="title">YOU MAY ALSO LIKE</p>
                <div class="image-row" style="margin-bottom: 20px;">
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-03/vietnam%20ethnic%20groups-8.jpg?itok=BsjVh67t">
                                <div class="lop">
                                    <p><b class="b1">5 ways to encounter Vietnam's ethnic groups</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-07/banner%20-%20Pu%20Luong.jpg?itok=qCUdDSz2">
                                <div class="lop">
                                    <p><b class="b1">Pu Luong for nature lovers</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-09/Mai%20Chau%20Travel%20Guide%20Vietnam%20tourism-7.jpg?itok=zMA8OnhF">
                                <div class="lop">
                                    <p><b class="b1">7 essential things to do in Mai Chau</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- NEARBY PLACES -->

        <div class="divmienbac3" id="section4">
            <p class="title">NEARBY PLACES</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="ninhbinh.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/travel-vietnam-3.jpg?itok=PyguP5lI">
                            <div class="lop">
                                <p><b class="b1">NINH BINH</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="hanoi.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/vietnam-travel-5.jpg?itok=4rYyvJYj">
                            <div class="lop">
                                <p><b class="b1">HA NOI</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="halong.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/visitvietnam-3.jpg?itok=u9Q1NYOS">
                            <div class="lop">
                                <p><b class="b1">HA LONG</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="    Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                   <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>


g