<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Du Lịch Việt Nam</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Highlights</b></a></li>
                        <li class="link"><a href="#"><b>Holiday</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2019-02/Central%20Vietnam%20Travel%20Guide-2_0.jpg?itok=tkYt3Jqd">
        <h1 class="chu">Central Vietnam</h1>


        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">TOP DESTINATIONS</a></li>
                  <li><a href="#section3">RECOMMENDED TRIPS</a></li>
                  <li><a href="#section4">YOU MAY ALSO LIKE</a></li>
                </ul>
            </nav>
        </div>

        <!-- OVERVIEW -->
        <div class="divmienbac " id="section1">
            <div class="div5">
                <h1 class="h">Central Vietnam is known for its well-preserved historical sites, smiling locals, and soothing natural beauty. The central coast will beckon you with the promise of enriching experiences and sun-kissed days by the beach.</h1>
                <p>Stroll down the narrow streets of Hoi An’s Ancient Town, where timber frame shophouses still appear the way they did centuries ago, and the streets are aglow in colourful lanterns each night. Or acquaint yourself with the final days of the Nguyen Dynasty in Hue, where royal citadels, tombs and temples are sprinkled along the tranquil Perfume River.</p>
                <p>In between, modern Danang City offers a taste of some of Vietnam’s most luxurious resorts and top golf courses -- as well as one of the country's best beaches. And a few hours away, Phong Nha’s spectacular caves are the latest frontier for nature enthusiasts.</p>
            </div>
        </div>
        <!-- TOP DESTINATIONS -->
        <div class="divmienbac2" id="section2">
            <p class="title">TOP DESTINATIONS IN CENTRAL VIETNAM</p>
            <div class="image-row" style="margin-bottom: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="danang.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-10/danang%20travel%20guide.jpg?itok=LSP1TAxH">
                            <div class="lop">
                                <p><b class="b1">DA NANG</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="hoian.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-07/vietnam-tourism.jpg?itok=zdtzWLfX">
                            <div class="lop">
                                <p><b class="b1">HOI AN</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="nhatrang.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Nha%20Trang%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=1JFombxr">
                            <div class="lop">
                                <p><b class="b1">NHA TRANG</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-row">
                <div class="div2">
                    <div class="img-container">
                        <a href="hue.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Hue%20Travel%20Guide%20Vietnam%20Tourism_0.jpg?itok=x7Bj2oy-">
                            <div class="lop">
                                <p><b class="b1">HUE</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="phongnha.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-11/phongnhavietnamtourism.jpg?itok=QN0tgYpE">
                            <div class="lop">
                                <p><b class="b1">PHONG NHA</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="dalat.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Da%20Lat%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=pbFhUwI8">
                            <div class="lop">
                                <p><b class="b1">DA LAT</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- RECOMMENDED TRIPS -->

        <div class="divmienbac3" id="section3">
            <p class="title">Recommended Trips</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="vietnam_highlights.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Banner%20Vietnam%20Highlights.jpg?itok=8iH7VDVI">
                            <div class="lop">
                                <p><b class="b1">VIETNAM HIGHLIGHTS</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="deltal_beaches_and_plateaus.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Banner%20Deltas%20beaches%20and%20plateaus.jpg?itok=Cav7KnKh">
                            <div class="lop">
                                <p><b class="b1">DELTAL, BEACHES AND PLATEAUS</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="heritage_sites_of_vietnam.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/UNESCO%20Vietnam%20Banner.jpg?itok=a0yaxJbc">
                            <div class="lop">
                                <p><b class="b1">HERITAGE SITES OF VIETNAM</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- YOU MAY ALSO LIKE< -->
        <div>
            <div class="divmienbac2" id="section4">
                <p class="title">YOU MAY ALSO LIKE</p>
                <div class="image-row" style="margin-bottom: 20px;">
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Banner%20Guide%20to%20Phong%20Nha.jpg?itok=JceoTNKz">
                                <div class="lop">
                                    <p><b class="b1">A complete guide to Phong Nha</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/weekend-in-hanoi.jpg?itok=cYUx-ROo">
                                <div class="lop">
                                    <p><b class="b1">10 essential things to do in Hoi An</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-09/best%20spas%20in%20nha%20trang.jpg?itok=q6v6mmsr">
                                <div class="lop">
                                    <p><b class="b1">Nha Trang's best wellness experiences</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="div bang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media">
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>