<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Southern VietNam
    </title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2017-07/southern-vietnam_1.jpg?itok=an6PzoKg">
        <h1 class="chu">Southern Vietnam</h1>


        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">TOP DESTINATIONS</a></li>
                  <li><a href="#section3">RECOMMENDED TRIPS</a></li>
                  <li><a href="#section4">YOU MAY ALSO LIKE</a></li>
                </ul>
            </nav>
        </div>

        <!-- OVERVIEW -->
        <div class="divmienbac " id="section1">
            <div class="div5">
                <h1 class="h">From island escapes to the non-stop action, southern Vietnam offers both vibrant urban energy and mellow countryside.</h1>
                <p>Start off in the sensory overload that is Ho Chi Minh City, a metropolis where humble mom-and-pop shops share street space with modern skyscrapers. Beyond the city limits you’ll encounter the languid Mekong Delta, where life takes place on water and farmland rolls out as far as the eye can see.</p>
                <p>Not far away, Mui Ne lures holidaymakers with a laid-back beach vibe and reputation as the kite-surfing capital of Vietnam. Offshore, islands such as Phu Quoc and Con Dao will welcome you with pristine coastlines and untouched landscapes.</p>
            </div>
        </div>
        <!-- TOP DESTINATIONS -->
        <div class="divmienbac2" id="section2">
            <p class="title">TOP DESTINATIONS IN SOUTHERN VIETNAM</p>
            <div class="image-row" style="margin-bottom: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="hcm.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-07/vietnam-tourism-4.jpg?itok=2q2uF_ME">
                            <div class="lop">
                                <p><b class="b1">HO CHI MINH CITY</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="binhthuan.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2022-06/shutterstock_1874591503%20%281%29.jpg?itok=FKHdAOuK">
                            <div class="lop">
                                <p><b class="b1">BINH THUAN</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="condao.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Con%20Dao%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=2nbqoj3i">
                            <div class="lop">
                                <p><b class="b1">CON DAO</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-row">
                <div class="div2">
                    <div class="img-container">
                        <a href="phuquoc.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Phu%20Quoc%20Travel%20Guide%20Vietnam%20Tourism_0.jpg?itok=DcsIMf-7">
                            <div class="lop">
                                <p><b class="b1">PHU QUOC</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="cantho.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Can%20Tho%20Travel%20Guide%20Vietnam%20Tourism_2.jpg?itok=DXkSccq1">
                            <div class="lop">
                                <p><b class="b1">CAN THO</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="chaudoc.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/chau%20doc%20travel%20guide_0.jpg?itok=vZ3nqM7k">
                            <div class="lop">
                                <p><b class="b1">CHAU DOC</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- RECOMMENDED TRIPS -->

        <div class="divmienbac3" id="section3">
            <p class="title">Recommended Trips</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="vietnam_highlights.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Banner%20Vietnam%20Highlights.jpg?itok=8iH7VDVI">
                            <div class="lop">
                                <p><b class="b1">VIETNAM HIGHLIGHTS</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="deltal_beaches_and_plateaus.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Banner%20Deltas%20beaches%20and%20plateaus.jpg?itok=Cav7KnKh">
                            <div class="lop">
                                <p><b class="b1">DELTAL, BEACHES AND PLATEAUS</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="vietnam_in_depth.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Best%20of%20Vietnam-17.jpg?itok=D4Pb6cHJ">
                            <div class="lop">
                                <p><b class="b1">VIETNAM IN DEPTH</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- YOU MAY ALSO LIKE< -->
        <div>
            <div class="divmienbac2" id="section4">
                <p class="title">YOU MAY ALSO LIKE</p>
                <div class="image-row" style="margin-bottom: 20px;">
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-12/saigon%20itinerary%20vietnam%20travel.jpg?itok=-TdT8ayg">
                                <div class="lop">
                                    <p><b class="b1">The perfect weekend in HCMC</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-10/Banner%20mekong%20guide-7.JPG?itok=amcrX6TR">
                                <div class="lop">
                                    <p><b class="b1">4 memorable days in the Mekong Delta</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-03/top%20things%20to%20do%20HCMC.jpg?itok=p31lQjiC">
                                <div class="lop">
                                    <p><b class="b1">How to see HCMC like a local</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                   <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>