
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Du Lịch Việt Nam</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
    <script src="hehe.js"></script>
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Highlights</b></a></li>
                        <li class="link"><a href="#"><b>Holiday</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2018-11/Northern%20Vietnam%20Tourism_.jpg?itok=9VRgScSf" alt="mienbac">
        <h1 class="chu">Northern Vietnam</h1>


        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">TOP DESTINATIONS</a></li>
                  <li><a href="#section3">RECOMMENDED TRIPS</a></li>
                  <li><a href="#section4">YOU MAY ALSO LIKE</a></li>
                </ul>
            </nav>
        </div>

        <!-- OVERVIEW -->
        <div class="divmienbac " id="section1">
            <div class="div5">
                <h1 class="h">The north of Vietnam makes a statement with majestic mountain ranges, centuries-old rice terraces, and fascinating ethnic groups.</h1>
                <p>Along the banks of the Red River lies Hanoi, a city locked in time yet simultaneously leaping forward. Hanoi's atmospheric Old Quarter, beautiful Hoan Kiem Lake and classic colonial architecture will leave you enchanted. There are excellent museums and art galleries to tour and when you get hungry, you'll find the northern streetfood is both abundant and delicious. Pull up a chair at one of many charming cafes to watch life unfurl and gain a sense of the city's timeless rhythm.</p>
                <p>Not far from Hanoi waits the fairy tale landscape of Ninh Binh, where sheer limestone cliffs rear straight up from paddy fields, and rowboats will bring you on a mesmerising journey through river caves. No visit to the north is complete without a cruise on Halong Bay to soak in the sight of thousands of islets and the bay's deep emerald green waters.</p>
            </div>
        </div>
        <!-- TOP DESTINATIONS -->
        <div class="divmienbac2" id="section2">
            <p class="title">TOP DESTINATIONS IN NORTHERN VIETNAM</p>
            <div class="image-row" style="margin-bottom: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="hanoi.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/vietnam-travel-5.jpg?itok=4rYyvJYj">
                            <div class="lop">
                                <p><b class="b1">HA NOI</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="halong.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/visitvietnam-3.jpg?itok=u9Q1NYOS">
                            <div class="lop">
                                <p><b class="b1">HA LONG</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="sapa.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Sapa%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=WsOSd6DW">
                            <div class="lop">
                                <p><b class="b1">SA PA</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-row">
                <div class="div2">
                    <div class="img-container">
                        <a href="maichau.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-01/Vietnam%20Tourism%20Mai%20Chau.jpg?itok=y-Q_F2Zp">
                            <div class="lop">
                                <p><b class="b1">MAI CHAU</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="ninhbinh.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/travel-vietnam-3.jpg?itok=PyguP5lI">
                            <div class="lop">
                                <p><b class="b1">NINH BINH</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="hagiang.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Ha%20Giang%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=oNRYkkxY">
                            <div class="lop">
                                <p><b class="b1">HA GIANG</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- RECOMMENDED TRIPS -->

        <div class="divmienbac3" id="section3">
            <p class="title">Recommended Trips</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="vietnam_in_depth.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Best%20of%20Vietnam-17.jpg?itok=D4Pb6cHJ">
                            <div class="lop">
                                <p><b class="b1">VIETNAM IN DEPTH</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="heritage_sites_of_vietnam.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/UNESCO%20Vietnam%20Banner.jpg?itok=a0yaxJbc">
                            <div class="lop">
                                <p><b class="b1">HERITAGE SITES OF VIETNAM</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="vietnam_for_families.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Vietnam%20for%20Families%20Banner.jpg?itok=n4r1mwjs">
                            <div class="lop">
                                <p><b class="b1">VIETNAM FOR FAMILIES</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- YOU MAY ALSO LIKE< -->
        <div>
            <div class="divmienbac2" id="section4">
                <p class="title">YOU MAY ALSO LIKE</p>
                <div class="image-row" style="margin-bottom: 20px;">
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Ha%20Giang%20Loop%20Banner%20FINAL-2.jpg?itok=UZVrZmuV">
                                <div class="lop">
                                    <p><b class="b1">The Ha Giang loop: a four-day road trip</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/weekend-in-hanoi.jpg?itok=cYUx-ROo">
                                <div class="lop">
                                    <p><b class="b1">The perfect weekend in Ha Noi</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-08/Ha%20Giang%20Loop%20Banner%20FINAL-2.jpg?itok=UZVrZmuV">
                                <div class="lop">
                                    <p><b class="b1">Sapa for sustainable travellers</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </main>
    
    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <p><input type="email" placeholder="Your email"></p>
                    </div>
                    <div class="div3">
                        <p><button class="sign-up-btn">Sign Up</button></p>
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2><h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2></h2>
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg">
                    <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg">
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    </footer>
</body>


