<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nha Trang | CenTral VietNam</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="pa dding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2021-05/Nha%20Trang%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=Pciu0qod">
        <h1 class="chu" >Nha Trang</h1>


        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>

        <!-- OVERVIEW -->
        <div class="desc" id="section1">
            <div class="div5">
                <h2>Perched on a pristine stretch of the southern coast, Nha Trang is a playground for sunseekers. Days here are spent dining on delicious seafood, snorkelling around stunning islands, and partying on the sand after dark. Nha Trang lays claim to some of the country's finest luxury resorts and thrilling watersports. Despite the development boom, colourful fishing villages and serene riverside restaurants are just a stone's throw away.</h2>
                <hr>
                <h4>Click the image below for a 360-degree tour of Nha Trang</h4>
                <div class="div2">
                    <div class="img-container">
                        <a href="https://vietnam.travel/sites/default/files/360Tour/NhaTrang2021/index.htm">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/360Tour/NhaTrang2021/socialThumbnail2.jpg">
                        </a>
                    </div>
                </div>
                <hr>
                <h3><strong>Top things to do in Nha Trang</strong></h3>
                <p><strong>Go beach-hunting</strong></p>
                <p>During the day, Nha Trang Beach is awash with sunbathers. A few kilometres south of the city, Long Beach is home to a clutch of local seafood joints and surfing spots. If you feel like exploring farther, hire a motorbike to Dốc Lết or Đại Lãnh beaches.</p>
                <p><strong>Try a mud bath</strong></p>
                <p>Nha Trang's boasts a unique pair of wellness attractions: mud baths and hot springs. Hidden in the hills just north of the city are a handful of spa-like facilities, where you can sit in a healing pool of warm mud before relaxing in hot mineral water.</p>
                <p><strong>Get on the water</strong></p>
                <p>Daylong island excursions will show you around Nha Trang Bay, and a series of small islands nearby such as Monkey Island, Hòn Mun Island, and Yến Island where you’ll be greeted by beautiful, untouched shores. </p>
                <p><strong>Visit pagodas and palaces</strong></p>
                <p>Long Sơn Pagoda and its towering, 78-foot-tall Buddha statue are a sight to see, as are the centuries-old Po Nagar Cham Towers. Less-visited spots such as the Bảo Đại Villa south of Nha Trang also shed light on the region's history.</p>
                <p><strong>Join the party</strong></p>
                <p>Nha Trang plays hard during the day, but its night time energy is unmatched. International acts and DJs regularly play beachfront parties at Sailing Club and Skylight, while lively venues around town keep the party going well into the night.</p>
                <hr>
                <h3 class="title">Nha Trang Weather</h3>
                <p>Rainy season in Nha Trang takes place from September to December, but the southern coast is less prone to heavy storms than its northern counterparts. In fact, Nha Trang gets the most sunshine in the country, meaning travellers can arrive at any time of year and still enjoy their coastal visit.</p>
                <h3 class="title">Nha Trang Transport</h3>
                <p>To reach Nha Trang travellers have the option of arriving by plane, train or bus. Flights from Vietnam's major cities connect to Nha Trang, while trains travel the coast, heading either north or south. Buses are easy enough to take from Đà Lạt, Hội An or other neighbouring destinations. Taxis are widely available in Nha Trang city. Motorbike tours are a great way to pop by popular spots, from mud baths to Po Nagar Cham Tower. Cycling is another laid back option. Finally, book a speedboat tour to go island-hopping and discover hidden beaches.</p>
                <hr>
            </div>
        </div>
        <!-- GALLERY -->
        <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    
                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2018-06/top%20things%20to%20do%20in%20nha%20trang-2.jpg?itok=gOifW04s" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2018-06/top%20things%20to%20do%20in%20nha%20trang-3.jpg?itok=ef8aBc0X" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2018-06/top%20things%20to%20do%20in%20nha%20trang-9.jpg?itok=4mOfkwOd" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2018-06/top%20things%20to%20do%20in%20nha%20trang_3.jpg?itok=GHwvJsjQ" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2018-06/top%20things%20to%20do%20in%20nha%20trang-6.jpg?itok=4JuAg0jQ" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2018-06/top%20things%20to%20do%20in%20nha%20trang-10.jpg?itok=IezUTsLO" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2018-06/top%20things%20to%20do%20in%20nha%20trang-5.jpg?itok=ZkVNZ0jS" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- YOU MAY ALSO LIKE -->
        <div>
            <div class="divmienbac2" id="section3">
                <p class="title">YOU MAY ALSO LIKE</p>
                <div class="image-row" style="margin-bottom: 20px;">
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-07/Weekend%20in%20Nha%20Trang.jpg?itok=MLmDtapb">
                                <div class="lop">
                                    <p><b class="b1">A perfect weekend in Nha Trang</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-06/sidewalk%20culture%20-%20Vietnam%20Tourism.jpg?itok=SHGzA3vE">
                                <div class="lop">
                                    <p><b class="b1">7 reasons to visit Nha Trang</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-09/best%20spas%20in%20nha%20trang.jpg?itok=q6v6mmsr">
                                <div class="lop">
                                    <p><b class="b1">Nha Trang's best wellness experiences</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- NEARBY PLACES -->

        <div class="divmienbac3" id="section4">
            <p class="title">NEARBY PLACES</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="danang.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-10/danang%20travel%20guide.jpg?itok=LSP1TAxH">
                            <div class="lop">
                                <p><b class="b1">DA NANG</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="phongnha.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-11/phongnhavietnamtourism.jpg?itok=QN0tgYpE">
                            <div class="lop">
                                <p><b class="b1">PHONG NHA</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="dalat.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Da%20Lat%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=pbFhUwI8">
                            <div class="lop">
                                <p><b class="b1">DA LAT</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="    Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>



