<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninh Binh | Northern VietNam</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2017-06/travel-vietnam-3.jpg?itok=igLMbXGO">
        <h1 class="chu" ">Ninh Binh</h1>


        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>

        <!-- OVERVIEW -->
        <div class="desc" id="section1">
            <div class="div5">
                <h2>Far too few travellers make it to Ninh Binh, a mesmerizing area known locally as ‘Ha Long Bay on Land’ thanks to its magical riverine landscape, with sheer limestone mountains rising up from the paddies. The best way to get a sense of this UNESCO-protected site is by taking a paddleboat tour along its shimmering rivers, and climbing to the top of its fabled peaks.</h2>
                <hr>
                <h4>Click the image below for a 360-degree tour</h4>
                <div class="div2">
                    <div class="img-container">
                        <a href="https://vietnam.travel/sites/default/files/360Tour/HaNoi/index.htmhttps://vietnam.travel/sites/default/files/360Tour/NinhBinh/index.htm">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/360Tour/NinhBinh/socialThumbnail2.jpg">
                        </a>
                    </div>
                </div>
                <hr>
                <h3><strong>Top things to do in Ninh Binh</strong></h3>
                <p><strong>See the view from Hang Mua</strong></p>
                <p>Get a bird's-eye view of Ninh Binh at Hang Mua, where 500 steps have been dramatically carved into the steep face of a mountain. At the top, a lookout point offers a surreal vista of the river winding lazily among paddies and limestone outcrops.</p>
                <p><strong>Take a sampan tour </strong></p>
                <p>At the Tam Coc and Trang An boat docks, each sampan is guided by a boat person who rows with their feet, not their hands. You'll be expertly guided along gentle waterways, past towering karsts, and into dripping grottoes.</p>
                <p><strong>Visit the ancient capital </strong></p>
                <p>Today the capital of Vietnam is Hanoi, but in the 10th and 11th centuries that honour was held by Hoa Lu. This small ancient city was naturally protected from invasions by karsts and rivers. Today, it’s a good place to get a history fix.</p>
                <p><strong>Go in search of wildlife</strong></p>
                <p>An exotic row boat experience is a must-do at the Van Long Nature Reserve. Keep your eyes open for exotic friends, such as the black-faced spoonbill and the Delacour's Langur, one of the world’s most endangered primates.</p>
                <p><strong>Pay a visit to the Bai Dinh Temple </strong></p>
                <p>The largest complex of Buddhist temples in the country, Bai Dinh is a mix of old and new styles. Ancient temples are housed in caves you can only reach via a pretty climb of 300 steps, while the new temple area covers an area of 500 hectares.</p>
                <hr>
                <h3 class="title">Ninh Binh Weather</h3>
                <p>The temperatures in Ninh Binh are ideal from March to May and September to November. For the finest views, go during harvest season in October. If you visit in the hotter months from July to August, be prepared for random downpours and stormy moments.</p>
                <h3 class="title">Ninh Binh Transport</h3>
                <p>Regular buses depart to Ninh Binh from Hanoi every day. You can book a luxury van which includes transfer to Tam Coc, where plenty of charming accommodation options await. Private cars make the journey even quicker. For those with more time, several trains leave for Ninh Binh from Hanoi daily. The best way to get around Ninh Binh is by motorcycle tour or taxi. Cycling is a great option for visitors staying in Tam Coc.</p>
                <hr>
            </div>
        </div>
        <!-- GALLERY -->
        <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    
                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Ninh%20Binh%20Vietnam%20Travel-7.jpg?itok=XFKMZhTV" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Ninh%20Binh%20Vietnam%20Travel-8.jpg?itok=zXfVhGyr" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Ninh%20Binh%20Vietnam%20Travel-9.jpg?itok=D54_XGL0" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Ninh%20Binh%20Vietnam%20Travel-5.jpg?itok=oBg4JugG" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Ninh%20Binh%20Vietnam%20Travel-10.jpg?itok=FTWCXx0a" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Ninh%20Binh%20Vietnam%20Travel-4.jpg?itok=h1FNu1o-" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2019-01/Ninh%20Binh%20Vietnam%20Travel-3.jpg?itok=O6NjE1q1" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- YOU MAY ALSO LIKE -->
        <div>
            <div class="divmienbac2" id="section3">
                <p class="title">YOU MAY ALSO LIKE</p>
                <div class="image-row" style="margin-bottom: 20px;">
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Ninh%20Binh%20day%20trip.jpg?itok=1si7LChT"">
                                <div class="lop">
                                    <p><b class="b1">A perfect day in Ninh Binh</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-02/Activities%20Ninh%20Binh%20Vietnam%20Travel-8.jpg?itok=76agUU5l">
                                <div class="lop">
                                    <p><b class="b1">10 must-do activities in Ninh Binh</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-02/kong%20skull%20island%20vietnam.jpg?itok=huIgGL8S">
                                <div class="lop">
                                    <p><b class="b1">3 Kong Skull Island locations to visit now</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- NEARBY PLACES -->

        <div class="divmienbac3" id="section4">
            <p class="title">NEARBY PLACES</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="hanoi.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/vietnam-travel-5.jpg?itok=4rYyvJYj">
                            <div class="lop">
                                <p><b class="b1">HA NOI</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="sapa.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2021-05/Sapa%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=WsOSd6DW">
                            <div class="lop">
                                <p><b class="b1">SAPA</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="maichau.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2019-01/Vietnam%20Tourism%20Mai%20Chau.jpg?itok=y-Q_F2Zp">
                            <div class="lop">
                                <p><b class="b1">MAI CHAU</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="    Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>



