<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sapa | Northern VietNam</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2021-05/Sapa%20Travel%20Guide%20Vietnam%20Tourism.jpg?itok=Mg5v7y9J">
        <h1 class="chu">Sa Pa</h1>


        <div class="hienthi"> 
            <nav class="navmienbac" >
                <ul>
                  <li><a href="#section1">OVERVIEW</a></li>
                  <li><a href="#section2">GALLERY</a></li>
                  <li><a href="#section3">YOU MAY ALSO LIKE</a></li>
                  <li><a href="#section4">NEARBY PLACES</a></li>
                </ul>
            </nav>
        </div>

        <!-- OVERVIEW -->
        <div class="desc" id="section1">
            <div class="div5">
                <h2>Sapa town stands at the head of a deep valley of magnificent rice terraces that are still farmed today as they have been for centuries. Backdrops don’t get much more spectacular. Enticing ribbons of road lead the eye down to the valley floor, white-water rivers rush among rice fields, and lush green mountains stretch into the distance as far as the eye can see. The highest peak in the region, Mount Fansipan, crowns the ragged ridge line high above town.</h2>
                
               
                <hr>
                <h3><strong>Top things to do in Sapa</strong></h3>
                <p><strong>Summit Mount Fansipan </strong></p>
                <p>A 6-kilometre cable car journey will whisk you 3,143m to the summit of Mount Fansipan in just 15 minutes.  Wander the pagoda complex before climbing the last few steps to the summit. The views from the ‘Roof of Indochina’ are unmatched.</p>
                <p><strong>Visit an ethnic minority market</strong></p>
                <p>Every Sunday the Bac Ha market bursts into life, as hundreds of traders from the Dzao, Han, Xa Fang, Tay and Thai tribes descend on the market, decked out in traditional garb. Expect a riot of colour and excited haggling.</p>
                <p><strong>Go trekking in the hills</strong></p>
                <p>Sapa offers some of Vietnam's best trekking, and some villages such as Cat Cat and Ta Phin can be seen without a guide. Book an overnight trek to wander through rice terraces, bathe in waterfalls and experience ethnic culture firsthand.</p>
                <p><strong>Stay in a mountain lodge </strong></p>
                <p>Stay outside the tourist hub of Sapa in simple comfort at a mountaintop lodge. Sapa is home to excellent lodges and homestays. Set among the rice terraces, you’ll brush shoulders with farmers as they go about their daily lives.</p>
                <p><strong>Get active</strong></p>
                <p>Mountain biking is a great way to get out and explore lesser-visited corners of Sapa. The annual Vietnam Mountain Marathon attracts some 4000 competitors who run buffalo-beaten trails ranging from 10 to 100 kilometres.</p>
                <hr>
                <h3 class="title">Sapa Weather</h3>
                <p>The best time to visit Sapa is in September and October when the rice terraces are at their most splendid; or in April and May when the weather is ideal and skies are clear. For those who don’t mind hot weather, June to August is a fine time to visit. Expect chilly weather from November to March.</p>
                <h3 class="title">Sapa Transport</h3>
                <p>Overnight trains are the most popular way to reach Sapa via the neighbouring province capital, Lao Cai. Upon arrival, transfer vans finish the journey up the mountains. Alternatively, regular buses and shuttle vans run from Hanoi with a journey time of five to six hours, stopping in the centre of town. As a former hill station, Sapa has plenty of steep roads and pathways. Many visitors get around by foot, or by taxi. Adventure-seekers can rent mountain bikes to explore the trails along the valley.</p>
                <hr>
            </div>
        </div>
        <!-- GALLERY -->
        <div class="divhalong" id="section2">
            <p class="title">GALLERY</p>
            <div class="divanhhalong1">    

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 470px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Sapa%20Town%20Vietnam%20Tourism.jpg?itok=6NkIydD4" alt="">
                        </div>
                    </div>
                    
                    <div class="div2" style="display: flex;" >
                       <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Sapa%20Food%20Vietnam%20Tourism.jpg?itok=QAASaIcN" alt="">
                            </div>
                       </div>
                        <div class="div2" style="padding: 5px;">
                            <div class="img-container">
                                <img class="anh" style="width: 230px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Sapa%20Food%20Vietnam%20Tourism.jpg?itok=QAASaIcN" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div2" style="padding-top: 10px;">
                    <div class="div2" style="padding-top: 5px;">
                        <div class="img-container">
                            <img class="anh" style="width: 460px; height: 373px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Trekking%20in%20Sapa%20Vietnam.jpg?itok=g42eEoJ2" alt="">
                        </div>
                    </div>
                </div>

                <div class="div2" style="display: block; padding: 10px;">
                    <div class="div2" style="display: flex;" >
                        <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 220px; height: 160px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Sapa%20Cable%20Car%20Vietnam%20Tourism.jpg?itok=n1iKHF-Y" alt="">
                             </div>
                        </div>
                         <div class="div2" style="padding: 5px;">
                             <div class="img-container">
                                 <img class="anh" style="width: 223px; height: 160px;"  src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Fansipan%20Peak%20Vietnam%20Tourism.jpg?itok=Rwjm6S2d" alt="">
                             </div>
                         </div>
                     </div>

                    <div class="div2" style="padding: 5px;">
                        <div class="img-container" >
                            <img class="anh" style="width: 453px; height: 200px;" src="https://vietnam.travel/sites/default/files/styles/article_photo_large/public/2021-05/Topas%20Ecolodge%20Sapa%20Vietnam%20Tourism.jpg?itok=aNzS8Kss" alt="">
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!-- YOU MAY ALSO LIKE -->
        <div>
            <div class="divmienbac2" id="section3">
                <p class="title">YOU MAY ALSO LIKE</p>
                <div class="image-row" style="margin-bottom: 20px;">
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-07/sapa%20inside%20guide_0.jpg?itok=Vq88-zG5">
                                <div class="lop">
                                    <p><b class="b1">My Sapa: Ly Thy Ker</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2018-03/vietnam%20ethnic%20groups.jpg?itok=-E39tOxJ">
                                <div class="lop">
                                    <p><b class="b1">25 striking images of Vietnam's ethnic groups</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="img-container">
                            <a href="#">
                                <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2020-11/responsible%20travel%20sapa.jpg?itok=9SxKqibv">
                                <div class="lop">
                                    <p><b class="b1">Sapa for sustainable travellers</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- NEARBY PLACES -->

        <div class="divmienbac3" id="section4">
            <p class="title">NEARBY PLACES</p>
            <div class="image-row" style="gap: 20px;">
                <div class="div2">
                    <div class="img-container">
                        <a href="ninhbinh.html">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/travel-vietnam-3.jpg?itok=PyguP5lI">
                            <div class="lop">
                                <p><b class="b1">NINH BINH</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="hanoi.html">
                            <img class="anh"   src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/vietnam-travel-5.jpg?itok=4rYyvJYj">
                            <div class="lop">
                                <p><b class="b1">HA NOI</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2">
                    <div class="img-container">
                        <a href="halong.html">
                            <img class="anh"  src="https://vietnam.travel/sites/default/files/styles/reference_thumbnail/public/2017-06/visitvietnam-3.jpg?itok=u9Q1NYOS">
                            <div class="lop">
                                <p><b class="b1">HA LONG</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="    Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>