<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual travel to Trang An Landscape Complex</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">

</head>
<body>
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Highlights</b></a></li>
                        <li class="link"><a href="#"><b>Holiday</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <img class="anhnen1" src="https://vietnam.travel/sites/default/files/styles/top_banner/public/2024-04/z5356877271347_04af95e1a1d9ce76cf597cd21dbe6ba4_0.jpg?itok=NaiDi3w_">
    <h1 class="chu " style="line-height: 1.3">Virtual travel to Trang An Landscape Complex</h1>
   
    <div class="divmienbac">
        <div class="div5">
            <img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-facebook.jpg" alt="">
            <img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-pinterest.jpg" alt="">
            <img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-twitter.jpg" alt="">
            <img src="https://vietnam.travel/themes/custom/vietnamtourism/images/icon-email.jpg" alt="">
        <p>Virtual exhibition about Trang An Landscape Complex on Google Arts & Culture has officially been launched on 18th April 2024, created by the Management Board of Trang An Landscape Complex with the support from Google Arts & Culture and UNESCO World Heritage.</p>
        <img class="anhbe" src="https://vietnam.travel/sites/default/files/inline-images/trangan4_0.jpg" alt="">
        <p>The electic scenery of limestone mountains and the golden shade of ripe rice fields, historical and cultural relics or the breathtaking beauty of the magical cave system in Trang An Landscape Complex (Ninh Binh) have been on air via the digital platform of Google Arts & Culture. The exhibition includes vivid, high-resolution photos posted on the Google Arts & Culture - a place known as a "virtual museum" that preserves and promotes the cultural and artistic quintessence of humanity.
            In 2014, Trang An Landscape Complex was the first mixed heritage site in Southeast Asia to be recognized by UNESCO as a World Cultural and Natural Heritage Site with three protected areas: the Hoa Lu Ancient Capital, the Trang An-Tam Coc-Bich Dong Scenic Landscape, and the Hoa Lu Special-Use Forest.
        </p>
        <img src="https://vietnam.travel/sites/default/files/inline-images/trangan.jpg" alt="" class="anhbe">
        <p>The virtual exhibition on the Google Arts & Culture platform gives visitors excellent perspectives of <a style=" text-decoration: none; color:rgb(88, 88, 186);" href="https://artsandculture.google.com/story/LgUxDHt8XM4vmA"><b>Trang An Landscape Complex</b></a> - one of the most attractive destinations of Vietnam. In this land, visitors can witness with their own eyes the magnificent million-year limestone mountains and the pristine caves containing archaeological evidence from ancient ages.
            Or visitors can free their souls in the picturesque natural scenery of golden rice fields beside the gently winding Ngo Dong river, to fully capture the brilliant colourful picture: the yellow of ripe rice, the green of tropical rainforests, the grey of limestone cliffs and the blue of the sky.
            In addition to the magnificent natural landscapes, historical and cultural relics in Hoa Lu ancient capital such as King Dinh Tien Hoang Temple, Vu Lam Palace, Bai Dinh Pagoda, Bich Dong Pagoda... are hotspots not to be missed when coming to Trang An.</p>
        <img src="https://vietnam.travel/sites/default/files/inline-images/trangan3.jpg" alt="" class="anhbe">
        <h2 style="color: black;"><b>Hoa Lu Ancient Capital</b></h2>
        <p> Located just 20 minutes by car from Trang An . Back in time, Hoa Lu was once the capital of the country. This historical site has now become a famous tourist spot There are 47 historical relics belonging to different dynasties, such as the Dinh, Le, and Ly dynasties, including King Dinh Tien Hoang Temple, King Dinh’s Tomb, King Le Dai Hanh Temple and Tomb, and King Ly Thai To Memorial Stele House.</p>
        <h2 style="color: black;"><b>Trang An-Tam Coc-Bich Dong Scenic Landscape</b></h2>
        <img src="https://vietnam.travel/sites/default/files/inline-images/trangan1.jpg" alt="" class="anhbe">
        <p>The area has two main types of ecosystems: the limestone ecosystem and the aquatic ecosystem. A paddleboat tour in Trang An or Tam Coc is highly recommended since some of Ninh Binh’s best sceneries can only be accessed by boat. Boats will paddle you along the gentle streams, in the shadow of enormous, jungle-covered karsts. Visitors would feel overwhelmed by the natural environment here. Full of different animals, mountains, forests, caves, and bodies of water that all get along.</p>
        <p>Besides travelling by boat, cycling, walking or trekking are also essential experiences. Attractions include Bich Dong Mountain and Pagoda, Tien Cave, Mua Cave, Co Vien Lau’s ancient residence, and Thai Vi Temple’s Thien Huong Cave. Absorbing tranquillity and admiring the Bich Dong Pagoda. Its ornate gate is one of the most iconic sights in Ninh Binh. A stone bridge spans a large lotus pond, which explodes with bright pink blossoms in the summer.</p>
        <h2 style="color: black;"><b>Hoa Lu Special-Use Forest</b></h2>
        <p>The Hoa Lu Special-Use Forest protects the area’s interconnected ecosystems and the many rare plants and animals found there. Another option is to hike Cuc Phuong National Park. Just only an hour away from Ninh Binh City, Cuc Phuong is one of the oldest national parks in Vietnam.</p>
        </div>

        <div class="divmienbac3">
            <p class="title">Read More</p>
            <img src="" alt="">
        </div>
    </div>
    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media">
                    <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media">
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>
