<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VietNam Travel</title>
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="icon" href="../img/logo.jpg">
</head>
<body>
    
    <header>
        <nav>
            <div style="display: flex;">
                <div class="nav-logo" style="padding: -30px;">
                    <a href="trangchu.html">
                        <img class="logo" src="../img/logo.jpg" alt="Logo">
                    </a>
                </div>
    
                <div style="padding: 30px;">
                    <ul class="nav-link">
                        <li class="link"><a href="trangchu.html"><b>Home Page</b></a></li>
                        <li class="link"><a href="mienbac.html"><b>Northern VietNam</b></a></li>
                        <li class="link"><a href="mientrung.html"><b>CenTral VietNam</b></a></li>
                        <li class="link"><a href="miennam.html"><b>Southern VietNam</b></a></li>
                        <li class="link"><a href="#"><b>Thing To Do</b></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="dif">
            <img class="anhnen1" src="../img/VNAT Cover.png" alt="Vietnam Cover">
        </div>
        
        <div class="divtrangchu">
            <div class="divf">
                <h1 class="h"><center>LIVE FULLY IN VIETNAM</center></h1>
                <p class="p1">Vietnam opens its door widely to welcome visitors all around the world! Starting from 15th August 2023, Vietnam extends e-visa validity to 90 days and unilateral visa exemption will be valid in 45 days!</p>
                <p class="p1">We are more than happy to welcome you all here and admire our stunning landscapes, free your soul on white sandy beaches, experience our unique and beautiful culture and meet the people in the most friendly country. Particularly, to indulge in our scrumptious cuisine at Michelin rated restaurants or to join us in outstanding mega culture, music, sports and tourism events!</p>
                <p class="p1">Let's live to the fullest in Vietnam!</p>
            </div>
            <div class="image-row">
                <div class="div2" style="padding: 10px;">
                    <div class="img-container">
                        <a href="cantho.html">
                            <img class="anh" style="width: 500px;" src="https://vietnam.travel/sites/default/files/styles/inspired_thumbnail/public/2024-04/391-C%E1%BA%A7n%20Th%C6%A1-antranphoto.vn%40gmail.com-cho%20noi%20vao%20xuan_4.jpg?itok=Z0uANAAC" alt="Can Tho">
                            <div class="lop">
                                <p><b class="b1">Can Tho: A glimpse of river and garden</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2" style="padding: 10px;">
                    <div class="img-container">
                        <a href="trangan.html">
                            <img class="anh" style="width: 240px; height: 213px;" src="https://vietnam.travel/sites/default/files/styles/inspired_thumbnail/public/2024-04/z5356877271347_04af95e1a1d9ce76cf597cd21dbe6ba4_0.jpg?itok=Ybwmw3re" alt="Trang An">
                            <div class="lop">
                                <p><b class="b1">Virtual travel to Trang An Landscape Complex</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2" style="padding: 10px;">
                    <div class="img-container">
                        <a href="coto.html">
                            <img class="anh" style="width: 240px; height: 213px;" src="https://vietnam.travel/sites/default/files/styles/inspired_thumbnail/public/2024-04/Coto%20con.jpg?itok=rnrZvC7M" alt="Co To">
                            <div class="lop">
                                <p><b class="b1">Go green in Co To</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-row">
                <div class="div2" style="padding: 10px;">
                    <div class="img-container">
                        <a href="hagiang1.html">
                            <img class="anh" style="width: 500px;" src="https://vietnam.travel/sites/default/files/styles/inspired_thumbnail/public/2024-04/hagiangfood_0.jpg?itok=Z2rSMJdF" alt="Ha Giang">
                            <div class="lop">
                                <p><b class="b1">Local unpacked: One of a kind cuisine of Ha Giang karst plateau</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="div2" style="padding: 10px;">
                    <div class="img-container">
                        <a href="binhdinh.html">
                            <img class="anh" style="width: 500px;" src="https://vietnam.travel/sites/default/files/styles/inspired_thumbnail/public/2024-03/236-binh_dinh-trungsaoviet85%40gmail.com-con_nguoi_va_bien_ca_0.jpg?itok=5c1Sxlam" alt="Binh Dinh">
                            <div class="lop">
                                <p><b class="b1">Local unpacked: One of a kind cuisine of Ha Giang karst plateau</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="divtrangchu2">
            <h1 class="h">WHAT'S ON</h1>
            <p class="p1">Check out upcoming events in Vietnam</p>
            <div class="image-row">
                <div class="div2" style="padding: 10px;">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/event_landing_x2/public/2024-05/257-TP%20HCM-danhdotrong%40yahoo.com_.vn-ben%20binh%20dong.jpg?itok=jKMuAVI-" alt="">
                            <div class="lop">
                                <p><b class="b2"> Ho Chi Minh City River Festival 2024</b></p>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="div2" style="padding: 10px;">
                    <div class="img-container">
                        <a href="#">
                            <img class="anh" src="https://vietnam.travel/sites/default/files/styles/event_landing_x2/public/2024-05/575-Ninh%20B%C3%ACnh-buitruongchung%40gmail.com-ruoc%20rong%20o%20tam%20coc.jpg?itok=j7lCq-S_" alt="">
                            <div class="lop">
                                <p><b class="b2">Ninh Binh Tourism Week 2024</b></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="divtrangchu2">
            <h1 class="h">MUST-SEE SITES</h1>
            <p class="p1"> Take a 360-degree tour of some of the country's most compelling natural </p>
            <p class="p1"> wonders and cultural attractions right here.</p>
            <div class=""></div>
        </div>

        <div class="divtrangchu3" style=" display: flex;">
            <div class="div2" style="padding: 10px;">
                <div class="img-container">
                    <a href="https://vietnam.travel/sites/default/files/360Tour/Hue2021/index.htm">
                        <img  style="width: 300px;" class="anh"src="https://vietnam.travel/sites/default/files/360Tour/Hue2021/socialThumbnail.jpg">
                    </a>
                </div>
            </div>
            <div class="div2" style="padding: 10px;">
                <div class="img-container">
                    <a href="https://vietnam.travel/sites/default/files/360Tour/HaLong/index.htm">
                        <img  style="width: 300px;" class="anh"src="https://vietnam.travel/sites/default/files/360Tour/HaLong/socialThumbnail.jpg">
                    </a>
                </div>
            </div>
            <div class="div2" style="padding: 10px;">
                <div class="img-container">
                    <a href="https://vietnam.travel/sites/default/files/360Tour/HoiAn/index.htm">
                        <img  style="width: 300px;" class="anh"src="https://vietnam.travel/sites/default/files/360Tour/HoiAn/socialThumbnail.jpg">
                    </a>
                </div>
            </div>
        </div>

        <div class="divtrangchu4" style=" display: flex;">
            <div class="div2" style="padding: 10px;">
                <div class="img-container">
                    <a href="https://vietnam.travel/sites/default/files/360Tour/HaNoi/index.htm">
                        <img  style="width: 300px;" class="anh"src="https://vietnam.travel/sites/default/files/360Tour/HaNoi/socialThumbnail.jpg">
                    </a>
                </div>
            </div>
            <div class="div2" style="padding: 10px;">
                <div class="img-container">
                    <a href="https://vietnam.travel/sites/default/files/360Tour/PhongNha/index.htm">
                        <img  style="width: 300px;" class="anh"src="https://vietnam.travel/sites/default/files/360Tour/PhongNha/socialThumbnail.jpg">
                    </a>
                </div>
            </div>
            <div class="div2" style="padding: 10px;">
                <div class="img-container">
                    <a href="https://vietnam.travel/sites/default/files/360Tour/MySon/index.htm">
                        <img  style="width: 300px;" class="anh"src="https://vietnam.travel/sites/default/files/360Tour/MySon/socialThumbnail.jpg">
                    </a>
                </div>
            </div>
            
    </main>

    <footer>
        <div class="image-row">
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">SIGN UP FOR OUR NEWSLETTER</h2>
                    <dd>Receive new travel stories from Vietnam once a month in your inbox.</dd>
                    <div class="div2 vien">
                        <input type="email" placeholder="Your email" aria-invalid="false" id="email">
                    </div>
                    <div class="div3">
                        <button class="sign-up-btn" onclick="validateEmail()">Sign Up</button>
                    </div>
                    <span id="error" style="display:none; color:rgb(252, 108, 108);"> Please enter a value</span>
                </div>
                
            </div>
            <div class="div2">
                <div class="divbang">
                    <h2 class="h" style="font-size: 21.72px;">FOLLOW US ON</h2>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-2_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-3_6.jpg" alt="Social Media"></a>
                    <a href=""> <img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web-4_4.jpg" alt="Social Media"></a>
                    <a href=""><img src="https://vietnam.travel/sites/default/files/2020-07/Vietnam%20tourism%20social%20web_4.jpg" alt="Social Media"></a>
                   <a href=""> <img src="https://vietnam.travel/sites/default/files/2021-02/Vietnam%20tourism.jpg" alt="Social Media"></a>
                    <p>Welcome to the official website of Viet Nam National Authority of Tourism. Visit our social media pages for more travel inspiration.</p>
                </div>
            </div>
            <div class="div2">
                <img style="height: 70px;" src="https://vietnam.travel/themes/custom/vietnamtourism/images/logo-bw.png" alt="Vietnam Tourism">
            </div>
        </div>
        <div class="div4">
            <p><center>&copy; 2024 Official Website Vietnam Tourism</center></p>
            <p><center>Email: 22014061@st.phenikaa-uni.edu.vn</center></p>
        </div>
    </footer>
    <script src="error.js"></script>
</body>
</html>
